/*--------------------------------CSS 11-20--------------------------------*/

body {
  max-width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  border-radius: 25px;
  background: darkkhaki;
}

a {
  color: red;
}

.border_ {
  border-style: solid;
}

p {
  margin-top: 2px;
  margin-bottom: 3px;
}

.hide-content {
  visibility: hidden;
}

td {
  border-style: solid;
  border-color: green;
}

th,
td {
  border-style: dotted;
}

.button-style {
  width: "fit-content";
  height: 20px;
  background: rgb(221, 195, 221);
  border-style: solid;
  border-radius: 25px;
}

.td-background {
  background-color: darkorange;
}

.td-border {
  border-style: solid;
  border-color: pink;
}
